<section class="application-description" style="background-image: url('img/application-description-bg.png');">
    <div class="container">
        <p class="application-description__text">
            <span>
                NOK
            </span>
            - это уникальное приложение, которое предоставляет возможность быстро и легко получать все необходимые
            товары из магазинов нашего города всего за несколько кликов. Благодаря интеграции наших партнёров и
            объединению усилий, город становится более доступным для каждого клиента.
        </p>
    </div>
</section>
