<section class="download-app">
    <div class="container">
        <h2 class="download-app__title">
            <span>Скачайте приложение</span>, чтобы воспользоваться сервисом доставки.
        </h2>
        <div class="download-app__inner">
            <div class="download-app__block download-app-block download-app-block--left">
                <h3 class="download-app-block__title">
                    Для пользователей Android.
                </h3>
                <ul class="download-app-block__list list-reset">
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Откройте Google <span>Play Market</span> на смартфоне.
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Найдите и выберите наше приложение.
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Нажмите на кнопку <span>«Установить»</span>.
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Завершите операцию, следуя инструкциям на экране.
                        </p>
                    </li>
                </ul>
                <button type="submit" class="btn btn-reset download-app-block__btn">
                    <img loading="lazy" src="img/app-google.svg" alt="google play">
                </button>
            </div>
            <div class="download-app__img">
                <picture>
                    <source srcset="img/download-app.avif" type="image/avif">
                    <source srcset="img/download-app.webp" type="image/webp">
                    <img loading="lazy" src="img/download-app.png" alt="Смартфон">
                </picture>
            </div>
            <div class="download-app__block download-app-block download-app-block--right">
                <h3 class="download-app-block__title">
                    Для пользователей IOS.
                </h3>
                <ul class="download-app-block__list list-reset">
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Откройте AppStore на смартфоне.
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Найдите и выберите приложение «Nok delivery».
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Нажмите на <span>«Получить»</span>.
                        </p>
                    </li>
                    <li class="download-app-block__item">
                        <span class="download-app-block__number">
                            Число
                        </span>
                        <p class="download-app-block__descr">
                            Завершите установку следуя инструкциям на экране.
                        </p>
                    </li>
                </ul>
                <button type="submit" class="btn btn-reset download-app-block__btn">
                    <img loading="lazy" src="img/app-store.svg" alt="app store">
                </button>
            </div>
            <div class="download-app-block__btns">
                <button type="submit" class="btn btn-reset download-app-block__btn">
                    <img loading="lazy" src="img/app-google.svg" alt="google play">
                </button>
                <button type="submit" class="btn btn-reset download-app-block__btn">
                    <img loading="lazy" src="img/app-store.svg" alt="app store">
                </button>
            </div>
        </div>
    </div>
</section>
