<section class="express-courier">
    <div class="container">
        <div class="express-courier__inner">
            <h3 class="express-courier__title">
                «Экспресс курьер»- оперативная доставка документов, товаров или подарков.
            </h3>
            <p class="express-courier__descr">
                Предоставляем уникальную услугу «Экспресс курьер» для наших партнёров и клиентов. Вам не нужно делегировать
                поручения сотрудникам по работе или знакомым. Занимайтесь работой, или отдыхайте, а наш курьер максимально
                быстро доставит товар или документы адресату с соблюдением конфиденциальности и сохранности.
            </p>
        </div>
    </div>
</section>
