<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a class="footer__logo" href="#">
                <img loading="lazy" src="img/logo.svg" alt="NOK delivery">
            </a>
            <div class="footer__app-download">
                <span>
                    Скачать приложение:
                </span>
                <button type="submit" class="btn btn-reset">
                    <img loading="lazy" src="img/app-google.svg" alt="google play">
                </button>
                <button type="submit" class="btn btn-reset">
                    <img loading="lazy" src="img/app-store.svg" alt="app store">
                </button>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">
                NOK 2021 © Все права защищены
            </p>
            <button type="submit" class="btn btn-reset footer__private">
            <img loading="lazy" src="img/private.svg" alt="private">    
            </button>
        </div>
    </div>
</footer>
