<section class="hero">
    <div class="hero__container container">
        <div class="hero__inner">
            <h3 class="hero__subtitle">
                Хотите чего-то большего, чем просто еды? 
            </h3>
            <h1 class="hero__title">
                Сделайте 
                <span>«knock- knock»</span>,
                и мы едем к вам!
            </h1>
            <p class="hero__descr">
                <span>NOK Delivery</span>
                - это не только доставка еды и продуктов питания, но и напитков, одежды, бытовой химии, косметики и парфюмерии, спортивного питания, лекарств, подарков, цветов, товаров для детей и прочего.
            </p>
            <button type="submit" class="btn btn-reset btn--primary hero__btn">Скачать приложение</button>
        </div>
        <div class="hero__img">
            <img loading="lazy" src="img/hero-img.png" alt="Картинка">
        </div>
    </div>
</section>
