 <section class="our-advantages">
     <div class="container">
         <ul class="our-advantages__list list-reset">
             <li class="our-advantages__item our-advantages-item">
                 <div class="our-advantages-item__img">
                     <img loading="lazy" src="img/our-advantages-img-1.png" alt="Картинка">
                 </div>
                 <h3 class="our-advantages-item__title">
                     Всегда качественные товары и свежие
                     продукты
                 </h3>
             </li>
             <li class="our-advantages__item our-advantages-item">
                 <div class="our-advantages-item__img">
                     <img loading="lazy" src="img/our-advantages-img-2.png" alt="Картинка">
                 </div>
                 <h3 class="our-advantages-item__title">
                     С нами удобно и выгодно всем
                 </h3>
             </li>
             <li class="our-advantages__item our-advantages-item">
                 <div class="our-advantages-item__img">
                     <img loading="lazy" src="img/our-advantages-img-3.png" alt="Картинка">
                 </div>
                 <h3 class="our-advantages-item__title">
                     Доставка 24 часа в сутки и в кратчайшие сроки
                 </h3>
             </li>
         </ul>
     </div>
 </section>
