<section class="our-contacts" style="background-image: url('img/our-contacts.jpg');">
    <div class="our-contacts__container container">
        <div class="our-contacts__inner">
            <h3 class="our-contacts__title">
                Наши контакты
            </h3>
            <ul class="our-contacts__list list-reset">
                <li class="our-contacts__item our-contacts-item">
                    <div class="our-contacts-item__inner">
                        <span class="our-contacts-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#maps"></use>
                            </svg>
                        </span>
                        <p class="our-contacts-item__descr">
                            Узбекистан, Ташкент, Мирабадский район, ул. Айбека, 61
                        </p>
                    </div>
                </li>
                <li class="our-contacts__item our-contacts-item">
                    <a href="tel:998712059001" class="our-contacts-item__inner our-contacts-item__link">
                        <span class="our-contacts-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#phone"></use>
                            </svg>
                        </span>
                        <p class="our-contacts-item__descr">
                            +998 71-205-90-01
                        </p>
                    </a>
                </li>
                <li class="our-contacts__item our-contacts-item">
                    <a href="mailto:office@nokdelivery.uz" class="our-contacts-item__inner our-contacts-item__link">
                        <span class="our-contacts-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#email"></use>
                            </svg>
                        </span>
                        <p class="our-contacts-item__descr">
                            office@nokdelivery.uz
                        </p>
                    </a>
                </li>
                <li class="our-contacts__item our-contacts-item">
                    <div class="our-contacts-item__inner">
                        <span class="our-contacts-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#support"></use>
                            </svg>
                        </span>
                        <p class="our-contacts-item__descr">
                            Пн-Вс 00:00 - 24:00
                        </p>
                    </div>
                </li>
            </ul>
            <div class="our-contacts__socials our-contacts-socials">
                <h3 class="our-contacts-socials__title">
                    Мы в социальных сетях
                </h3>
                <ul class="our-contacts-socials__socials social list-reset">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="img/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-reset btn--secondary our-contacts__btn" data-graph-path="write-to-us-modal">
                написать нам
            </button>
        </div>
    </div>
</section>
