 <section class="our-advantages_two">
     <div class="container">
         <ul class="our-advantages_two__list list-reset">
             <li class="our-advantages_two__item our-advantages-item-two">
                 <div class="our-advantages-item-two__img">
                     <picture>
                        <source srcset="img/our-advantages-img-4.avif" type="image/avif">
                        <source srcset="img/our-advantages-img-4.webp" type="image/webp">
                        <img loading="lazy" src="img/our-advantages-img-4.png" alt="Картинка">
                    </picture>
                 </div>
                 <h3 class="our-advantages-item-two__title">
                     Для просмотра доступных заведений, предоставьте доступ
                     к вашему местоположению
                 </h3>
             </li>
             <li class="our-advantages_two__item our-advantages-item-two">
                 <div class="our-advantages-item-two__img">
                    <picture>
                        <source srcset="img/our-advantages-img-5.avif" type="image/avif">
                        <source srcset="img/our-advantages-img-5.webp" type="image/webp">
                        <img loading="lazy" src="img/our-advantages-img-5.png" alt="Картинка">
                    </picture>
                 </div>
                 <h3 class="our-advantages-item-two__title">
                     Курьеры купят и доставят продукты за считанные минуты
                 </h3>
             </li>
             <li class="our-advantages_two__item our-advantages-item-two">
                 <div class="our-advantages-item-two__img">
                    <picture>
                        <source srcset="img/our-advantages-img-6.avif" type="image/avif">
                        <source srcset="img/our-advantages-img-6.webp" type="image/webp">
                        <img loading="lazy" src="img/our-advantages-img-6.png" alt="Картинка">
                    </picture>
                 </div>
                 <h3 class="our-advantages-item-two__title">
                     Заказывайте из любого магазина или ресторана в вашем городе
                 </h3>
             </li>
         </ul>
     </div>
 </section>
