<div class="graph-modal">
    <div class="graph-modal__container become-courier modal-primary" role="dialog" aria-modal="true"
        data-graph-target="become-courier-modal">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content become-courier__content">
            <div class="become-courier__top become-courier-top">
                <h3 class="become-courier-top__title">
                    Стать курьером
                </h3>
                <p class="become-courier-top__descr">
                    Предпочитаете движение и насыщенный событиями, новыми знакомствами стиль жизни, тогда вам точно к
                    нам!
                    Развивающаяся и перспективная компания NOK Delivery приглашает на работу курьеров и операторов.
                    Мы открываем новые города и знакомимся с поставщиками практически ежедневно.
                </p>
            </div>
            <div class="become-courier__middle work-delivery">
                <h3 class="work-delivery__title">
                    Работа в <span>NOK Delivery</span> – это:
                </h3>
                <div class="work-delivery__element">
                    <ul class="work-delivery__list list-reset">
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                отличное начало карьеры с последующей перспективой роста;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                комфортабельный офис, расположенный в центре города;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                современное оборудование и техника;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                удобный график работы;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                достойная зарплата (+ бонусная система);
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="work-delivery__element">
                    <h4 class="work-delivery__subtitle">
                        Обязанности курьера:
                    </h4>
                    <ul class="work-delivery__list list-reset">
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                доставка товаров по указанному адресу;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                оформление сопроводительных документов;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                взаиморасчет с клиентами;
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="work-delivery__element">
                    <h4 class="work-delivery__subtitle">
                        Обязанности курьера:
                    </h4>
                    <ul class="work-delivery__list list-reset">
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                наличие водительского удостоверения;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                хорошее знание города;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                доброжелательность в общении с клиентами;
                            </p>
                        </li>
                        <li class="work-delivery__item work-delivery-item">
                            <span class="work-delivery-item__icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                            <p class="work-delivery-item__descr">
                                наличие автомобиля будет преимуществом;
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="become-courier__bottom questionnaire">
                <h3 class="questionnaire__title">
                    Для трудоустройства, заполните <span>данную анкету.</span>
                </h3>
                <form action="#" class="questionnaire__form questionnaire-form" method="POST"
                    enctype="multipart/form-data">
                    <div class="questionnaire-form__rows">
                        <div class="questionnaire-form__row">
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Фамилия:</span>
                                <input type="text" name="surname" id="questionnaire-form__surname"
                                    class="input-reset questionnaire-form__input">
                            </label>
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Отчество:</span>
                                <input type="text" name="patronymic" class="input-reset questionnaire-form__input">
                            </label>
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Ваш возраст:</span>
                                <input type="number" name="age" class="input-reset questionnaire-form__input">
                            </label>
                        </div>
                        <div class="questionnaire-form__row">
                            <label class="questionnaire-form__option questionnaire-form-options">
                                <span>Желаемая позиция:</span>
                                <div class="options">
                                    <div class="options__item">
                                        <input hidden id="position_1" class="options__input" checked type="radio"
                                            value="courier" name="position">
                                        <label for="position_1" class="options__label">
                                            <span class="options__text">Курьер</span>
                                        </label>
                                    </div>
                                    <div class="options__item">
                                        <input hidden id="position_2" class="options__input" type="radio"
                                            value="operator" name="position">
                                        <label for="position_2" class="options__label">
                                            <span class="options__text">Оператор</span>
                                        </label>
                                    </div>
                                </div>
                            </label>
                            <label class="questionnaire-form__label questionnaire-form__label--descr">
                                <span class="questionnaire-form__name">Опыт работы:</span>
                                <input type="number" name="work-experience"
                                    class="input-reset questionnaire-form__input">
                                <span class="questionnaire-form__descr">лет</span>
                            </label>
                        </div>
                        <div class="questionnaire-form__row">
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Адрес проживания:</span>
                                <input type="text" name="address" class="input-reset questionnaire-form__input">
                            </label>
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Эл.почта:</span>
                                <input type="email" name="email" id="questionnaire-form__email"
                                    class="input-reset questionnaire-form__input">
                            </label>
                            <label class="questionnaire-form__label">
                                <span class="questionnaire-form__name">Телефон:</span>
                                <input type="tel" name="tel" id="questionnaire-form__tel"
                                    class="input-reset questionnaire-form__input">
                            </label>
                        </div>
                        <div class="questionnaire-form__row">
                            <label class="custom-file questionnaire-form-file">
                                <input type="file" name="summary"
                                    class="custom-file__field questionnaire-form-file__input">
                                <div class="custom-file__content questionnaire-form-file__content">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#paperclip"></use>
                                    </svg>
                                    <span>Загрузить резюме</span>
                                </div>
                            </label>
                        </div>
                    </div>


                    <div class="questionnaire-form__btns questionnaire-form-btns">
                        <div class="questionnaire-form-btns__inner">
                            <button type="submit" class="btn btn-reset btn--secondary questionnaire-form-btns__btn">
                                Отправить
                            </button>
                            <button type="reset" class="btn btn-reset questionnaire-form-btns__btn">
                                Сбросить
                            </button>
                        </div>
                    </div>








                </form>
            </div>
        </div>
    </div>
    <div class="graph-modal__container become-partner modal-primary" role="dialog" aria-modal="true"
        data-graph-target="become-partner-modal">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content become-partner__content">
            <h3 class="become-partner__title">
                Стать партнером
            </h3>
            <div class="become-partner__descr">
                <p>
                    Наша компания, NOK Delivery, обеспечивает максимальный комфорт для клиента, сервис и скорость. Мы
                    позаботимся о качестве услуг, и несём ответственность за качественную и быструю доставку товара.
                </p>
                <p>
                    Доставка осуществляется собственным транспортом, при взаимодействии Call-центра и курьера.
                </p>
                <p>
                    Компания тщательно подходит к выбору партнеров, основываясь на качестве продукции, времени отдачи
                    товара курьеру, ассортименте и прочем.
                </p>
            </div>
            <div class="become-partner__plans become-partner-plans">
                <h4 class="become-partner-plans__title">
                    Наши планы по масштабированию проекта:
                </h4>
                <ul class="become-partner-plans__list list-reset">
                    <li class="become-partner-plans__item">
                        <span class="become-partner-plans__number">
                            Число
                        </span>
                        <p class="become-partner-plans__descr">
                            Организовать доставку по требованию (поиск и доставка определенного товара, не входящего в
                            перечень в маркетплейсе компании, по запросу клиента.
                        </p>
                    </li>
                    <li class="become-partner-plans__item">
                        <span class="become-partner-plans__number">
                            Число
                        </span>
                        <p class="become-partner-plans__descr">
                            Услуга «Экспресс курьер»- предоставление курьера в аренду любому из партнеров и клиентов.
                        </p>
                    </li>
                    <li class="become-partner-plans__item">
                        <span class="become-partner-plans__number">
                            Число
                        </span>
                        <p class="become-partner-plans__descr">
                            Размещение промежуточных стационарных базовых станций (офисов), в наиболее нагруженных
                            районах,
                            для дислокации курьеров обслуживающих данную зону покрытия.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="become-partner__btns">
                <button type="submit" class="btn btn-reset btn--third become-partner__btn">
                    Скачать презентацию
                </button>
                <button type="submit" class="btn btn-reset btn--secondary become-partner__btn">
                    Скачать коммерческое предложение
                </button>
            </div>
        </div>
    </div>

    <div class="graph-modal__container back-call modal-primary" role="dialog" aria-modal="true"
        data-graph-target="back-call-modal">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content back-call__content">
            <h3 class="back-call__title">
                Обратный <span>звонок:</span>
            </h3>
            <form action="#" class="back-call__form back-call-form" method="POST" enctype="multipart/form-data">
                <label class="back-call-form__label">
                    <span class="back-call-form__name">Ваше имя:</span>
                    <input type="text" name="surname" id="back-call-form__name"
                        class="input-reset back-call-form__input">
                </label>
                <label class="back-call-form__label">
                    <span class="back-call-form__name">Ваш номер:</span>
                    <input type="tel" name="tel" id="back-call-form__tel"
                    class="input-reset back-call-form__input">
                </label>
                <button type="submit" class="btn btn-reset btn--secondary back-call-form__btn">
                    Отправить
                </button>
            </form>
        </div>
    </div>
    <div class="graph-modal__container write-to-us modal-primary" role="dialog" aria-modal="true"
        data-graph-target="write-to-us-modal">
        <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content back-call__content">
            <h3 class="write-to-us__title">
                Написать <span>нам:</span>
            </h3>
            <form action="#" class="write-to-us__form write-to-us-form" method="POST" enctype="multipart/form-data">
                <label class="write-to-us-form__label">
                    <span class="write-to-us-form__name">Ваше имя:</span>
                    <input type="text" name="surname" id="write-to-us-form__name"
                        class="input-reset write-to-us-form__input">
                </label>
                <label class="write-to-us-form__label">
                    <span class="write-to-us-form__name">Ваш e-mail:</span>
                    <input type="email" name="email" id="write-to-us-form__email"
                        class="input-reset write-to-us-form__input">
                </label>
                <label class="write-to-us-form__label">
                    <span class="write-to-us-form__name">Сообщение:</span>
                    <textarea type="text" name="text" id="write-to-us-form__text"
                    class="input-reset write-to-us-form__textarea"></textarea>
                </label>

                <button type="submit" class="btn btn-reset btn--secondary write-to-us-form__btn">
                    Отправить
                </button>
                <button type="reset" class="btn btn-reset write-to-us-form__btn write-to-us-form__btn--reset">
                    Сброс
                </button>
            </form>
        </div>
    </div>
</div>
