<section class="product-categories">
    <div class="product-categories__container container">
        <div class="swiper product-categories__swiper">
            <div class="swiper-wrapper">



                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-1.png" alt="Супермаркеты">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Супермаркеты
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-2.png" alt="    Кондитерские изделия
                            и выпечка">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Кондитерские изделия
                                и выпечка
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-3.png" alt="Аптеки">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Аптеки
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-4.png" alt="Рестораны">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Рестораны
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-5.png" alt="Фаст-фуд">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Фаст-фуд
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-6.png" alt="Для детей">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Для детей
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-7.png" alt="Одежда">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Одежда
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-8.png" alt="Цветы">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Цветы
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide product-categories-item">
                    <a href="#" class="product-categories-item__inner">
                        <div class="product-categories-item__img">
                            <img loading="lazy" src="img/product-categories/product-9.png" alt="Подарки">
                        </div>
                        <div class="product-categories-item__wrapper">
                            <h3 class="product-categories-item__title">
                                Подарки
                            </h3>
                            <button type="submit" class="btn btn-reset btn--secondary product-categories-item__btn">
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>





            </div>
        </div>
        <div class="product-categories-arrows">
            <div class="product-categories-arrow product-categories-arrow--prev">
                <span>circle figure</span>
                <svg>
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
            </div>
            <div class="product-categories-arrow product-categories-arrow--next">
                <span>circle figure</span>
                <svg>
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
            </div>
        </div>
    </div>
</section>
