<section class="steps-to-order">
    <div class="steps-to-order__container container">
        <h3 class="steps-to-order__title">
            Сделать заказ стало <span>ещё проще</span>
        </h3>
        <p class="steps-to-order__subtitle">
            Три простых шага для работы с нами!
        </p>
        <ul class="steps-to-order__list list-reset">
            <li class="steps-to-order__item steps-to-order-item">
                <div class="steps-to-order-item__img">
                    <picture>
                        <source srcset="img/steps-to-order-item-1.avif" type="image/avif">
                        <source srcset="img/steps-to-order-item-1.webp" type="image/webp">
                        <img loading="lazy" src="img/steps-to-order-item-1.png" alt="Иконка">
                    </picture>
                </div>
                <div class="steps-to-order-item__info">
                    <h5 class="steps-to-order-item__title">
                        Загрузите наше приложение
                    </h5>
                    <p class="steps-to-order-item__descr">
                        Укажите свои контактные данные.
                    </p>
                </div>
            </li>
            <li class="steps-to-order__item steps-to-order-item">
                <div class="steps-to-order-item__img">
                    <picture>
                        <source srcset="img/steps-to-order-item-2.avif" type="image/avif">
                        <source srcset="img/steps-to-order-item-2.webp" type="image/webp">
                        <img loading="lazy" src="img/steps-to-order-item-2.png" alt="Иконка">
                    </picture>
                </div>
                <div class="steps-to-order-item__info">
                    <h5 class="steps-to-order-item__title">
                        Сравните и сэкономьте.
                    </h5>
                    <p class="steps-to-order-item__descr">
                        Выберите понравившиеся товары по выгодным ценам и оформите заказ через приложение или по
                        телефону.
                    </p>
                </div>
            </li>
            <li class="steps-to-order__item steps-to-order-item">
                <div class="steps-to-order-item__img">
                    <picture>
                        <source srcset="img/steps-to-order-item-3.avif" type="image/avif">
                        <source srcset="img/steps-to-order-item-3.webp" type="image/webp">
                        <img loading="lazy" src="img/steps-to-order-item-3.png" alt="Иконка">
                    </picture>
                </div>
                <div class="steps-to-order-item__info">
                    <h5 class="steps-to-order-item__title">
                        Получите лучший сервис.
                    </h5>
                    <p class="steps-to-order-item__descr">
                        Отлично проведите время с родственниками, коллегами и друзьями. Мы предоставим все необходимое
                        для вашего отдыха и комфорта.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
